/* For SERVICE PAGE */

.card_div{
    width: 100%;
    /* height: 100vh; */
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.card{
    box-shadow: 0.2rem 0.2rem 0.3rem gray;
}

.card img{
    width: auto;
    height: 250px;
}
